---
layout: default
title: Blog
---

<h1 class="title_page">Posts</h1>

<ul class="parent_card-staff">
    {% for post in site.posts %}
    <div class="card_staff">
        <a href="{{ post.url }}">
            <li>
                <h2>{{ post.title }}</h2>
                <section class="padding_card">
                    <p>
                        {% if post.wakatime %}
                        <img style="vertical-align: middle" src="{{ post.wakatime }}" alt="wakatime badge">
                        {% endif %}
                        {{ post.excerpt }}
                    </p>
                </section>
            </li>
        </a>
    </div>
    {% endfor %}
</ul>