@use "base.scss" as base;

.parent_card-author {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 2%;

    .card {
        @include base.card_base;
        max-width: 30vw;
        text-decoration: none;
        display: grid;
        grid-auto-flow: column;
        align-items: center;

        
        a {
            text-decoration: none;
            color: #8D0B41;
            display: flex; 
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            img {
                vertical-align: middle;
            }
        }
    }
}

@media (max-width: 768px) {
    .parent_card-author {
        margin: 0;
        grid-template-columns: auto;
        vertical-align: middle;

        .card {
            max-width: 80vw;
            .card:hover {
                scale: 105%;
            }
            a {
                margin-left: 0.5rem;
            }
        }
    }
}