@use "base.scss" as base;

.parent_card-blog {
    padding-left: 0;
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
    gap: 4vw;
    justify-content: center;

    .card_blog {
        color: var(--text);
        @include base.card_base;
        text-decoration: none;
        a {
            text-decoration: none;
            color: var(--accent);
            }
        h3 {
            text-align: center;
        }
    }
}

.blog_main {
    max-width: var(--content-size);
    margin: 0 auto;
}

.mainTitle_blog {
    margin: 3em 0 1em 0;
}

.title_blog {
    margin: 1em auto 2px 1em;
}

.subTitle_blog {
    margin-left: 32px;
}

.comment {
    font-family: pixelFontBasic;
    max-width: 90%;
    margin: 2rem auto;
}

@media (max-width: 768px) {
    .parent_card-blog {
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        padding: 0 5%;
        max-width: 100%;
        
        .card_blog {
            max-width: 100%;
            h2 {
                text-align: center;
            }
        }
    
        .card_blog:hover {
            scale: 105%;
        }
    }
}