@use "base.scss" as base;

.parent_card-staff {
    padding-left: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 20vw 20vw;
    gap: 15vw;
    place-content: left;
    
    .card_staff {
        color: var(--text);
        @include base.card_base;
        text-decoration: none;

        a {
            text-decoration: none;
            color: var(--accent);
            }
        h3 {
            text-align: center;
        }
    }
}


@media (max-width: 768px) {
    .parent_card-staff {
        gap: 10vw;
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        padding: auto;
        margin-left: 0;
    
        .card_staff {
            h2 {
                text-align: center;
            }
        }
    
        .card_staff:hover {
            scale: 105%;
        }
    }
}