@use "base.scss" as base;

.parent_card-staff {
    padding-left: 0;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 2vw;
    place-content: left;
    margin-left: 3rem;

    a {
        text-decoration: none;
        color: #8D0B41;

        .card_staff {
            @include base.card_base;
            h2 {
                text-align: center;
            }
        }
    }
}


@media (max-width: 768px) {
    .parent_card-staff {
        display: grid;
        grid-template-columns: 70vw;
        place-content: center;
        padding: auto;
        margin-left: 0;
    
        .card_staff {
            h2 {
                text-align: center;
            }
        }
    
        .card_staff:hover {
            scale: 105%;
        }
    }
}